.postWrapper {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
  justify-content: center;
  max-height: 130px;
  max-width: 200px;

  &:active {
    color: white;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }

  &:hover {
    opacity: 0.40;
  }

  img {
    height: 100px;
    flex:1;
    padding: 5px;
  }

  label {
    color: white;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    flex: 1;
  }
}
