-e .
aws-cdk.aws-iam==1.94.1
aws-cdk.aws-cloudfront==1.94.1
aws-cdk.aws-route53==1.94.1
aws-cdk.aws-route53-targets==1.94.1
aws-cdk.aws-s3==1.94.1
aws-cdk.aws-s3-deployment==1.94.1
aws-cdk.aws-ssm==1.94.1
