.subredditWrapper {
  padding: 1em 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header span:first-child {
  font-weight: bold;
  margin-right: 10px;
  font-size: 1.1em;
}

.postWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.postWrapper > a {
  width: 175px;
  height: 160px;
}
