.registerPage {
  .registerError,
  .registerWarn {
    border-radius: 3px;
    padding: 0.25em;
    font-weight: bold;
    color: white;
  }

  .registerError {
    background-color: rgba(222, 11, 11, 0.7);
    border: 3px solid rgba(222, 11, 11, 1);
  }

  .registerWarn {
    background-color: rgba(222, 128, 11, 0.7);
    border: 3px solid rgba(222, 128, 11, 1);
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .registerForm {
    h1 {
      margin-top: 0;
    }

    &.submitting {
      opacity: 0.5;
    }

    .spinner {
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      display: flex;
      position: absolute;
    }

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    margin-bottom: 1em;
  }
}
