.headerBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
  height: 45px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin-bottom: 2vh;

  .leftControls,
  .centerControls,
  .rightControls {
    display: flex;
    height: 100%;
    align-items: center;
    width: 33.3%;
  }

  .leftControls {
    justify-content: flex-start;
    img:hover {
      cursor: pointer;
    }
  }

  .centerControls {
    justify-content: center;
  }

  .rightControls {
    justify-content: flex-end;
  }

  img {
    height: 100%;
  }
}
